.items{
    /*grid-area: name;*/
}


.link {
    text-decoration: none;
    color: black;
    padding: 0 5%;
    margin: 0 auto;
}

.link:hover {
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px; /*Закругляем уголки*/
    color: whitesmoke;
    background-color: #0f4c81;
}

.active {
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px; /*Закругляем уголки*/
    color: whitesmoke;
    background-color: #3D3F41;
}