@font-face {
    font-family: 'Astroneer';
    src: url('./Astroneer.ttf') format('truetype');
    /* font-weight: normal; */
    /* font-style: normal; */
    font-size: 4px;
}

body {
    /*background-color: rgba(213, 223, 220, 0.3);*/
    background-color: rgba(240, 236, 228, 0.55);
}

.app-wrapper {
    font-family: 'Astroneer';
    /* letter-spacing: 5px; */
    font-size: 14px;
    display: grid;


    max-width: 1000px;
    margin: 0 auto;

    grid-template-areas: "header header" "nav content" "footer footer";

    grid-template-rows: 60px 1fr 100px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.gridContent {
    grid-area: content;
}


