@font-face {
	font-family: 'Becker';
	src: url('./Becker.otf') format('truetype');
	/* font-weight: normal; */
	/* font-style: normal; */
  font-size: 4px;
}

body{
  background-color: rgba(225, 216, 213, 0.1);
}

.app-wrapper{
  font-family: 'Becker';
  /* letter-spacing: 5px; */
  font-size: 13px;
  display: grid;


  max-width: 1000px;
  margin: 0 auto;

  grid-template-areas:
  "header header"
  "nav profile"
  "footer footer";

  grid-template-rows: 60px 1fr 100px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
