.nav{
  grid-area: nav;
  background-color: rgba(175, 196, 190, 0.5);
  border: 0.5px solid #A69BA9;
  border-radius: 10px 10px 10px 10px; /*Закругляем уголки*/
  height: 350px;
}

.nav_box{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 28px;
  grid-gap: 10px;
  align-items: center;
  margin-top: 15vh;
}
.item{
  margin-left: 7%;
  color: cadetblue;

  display: block;
  white-space: nowrap;
}

a{
  text-decoration: none;
  color: black;

  padding: 0  5%;
  margin: 0 auto;
  /* background: radial-gradient(farthest-side ellipse at top left, white, aliceblue);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px rgba(95, 203, 222,0.1); */

}


a.link:hover{
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px; /*Закругляем уголки*/
  color: whitesmoke;
  background: radial-gradient( 80% 50%, #7a707e, black);
}

a.active{
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px; /*Закругляем уголки*/
  color: whitesmoke;
  background: radial-gradient( 80% 50%, black, #7a707e);
}